* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

html{
    scroll-behavior: smooth;
    font-size: 16px;
}

.center{ /* can giua noi dung web */
    max-width: 1200px;
    margin: 0 auto;
}
.p__header{
    font-weight: 600;
    font-size: 22px;
    display: inline-block;
    border-radius: 30px;
    color: #f55f8d;
}
.h__header{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    margin: 0 0 20px;
}
.btn__samar{
    text-transform: uppercase;
    background-position: left center;
    transition: 0.5s;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
    padding: 20px 34px;
    border-radius: 40px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}
.btn__samar:hover{
    cursor: pointer;
    background-position: right center;
    transition: 0.5s;
}
/*
#wrapped-website{
    max-width: 1200px;
} */

#wrapped-website{
    overflow: hidden;
}
/* header start */
#home{
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 99;
    padding: 24px 0;
}
.header__container{
    display: flex;
    justify-content: space-between;
}

.header__logo{

}

.nav{
    display: flex;
    align-items: center;
}

.nav__list{
}
.nav__list a{
    color: black;
    text-decoration: none;
    padding-right: 20px;
}
.nav__list a i{
    font-size: 0.8em;
}
.nav__list button:hover{
    cursor: pointer;
    background-position: right center;
    transition: 0.5s;
}
.nav__list button{
    background-position: left center;
    transition: 0.5s;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
    padding: 20px 34px;
    border-radius: 40px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}
/* header end */

/* pages start */
#pages{
    padding-top: 200px;
    background-image: url(../img/pic2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.pages__content{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.pages__content-left{
    animation: Totop 2.5s;
    width: 70%;
}
.pages__content-left p{
    margin-bottom: 20px;

}
.pages__content-left span{
    font-size: 18px;
}
.pages__content-left ul{
    list-style: none;
    margin: 20px 0;
}
.pages__content-left li{
    padding-bottom: 12px;
    line-height: 1.8;
    font-size: 20px;
}
.pages__content-left i{
    vertical-align: top;
    color: #fff;
    font-size: 38px;
    font-weight: 400;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56
    51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 50%;
    /* border: none; */
}
/* .pages__content-left button{
    text-transform: uppercase;
    background-position: left center;
    transition: 0.5s;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
    padding: 20px 34px;
    border-radius: 40px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}
.pages__content-left button:hover{
    cursor: pointer;
    background-position: right center;
    transition: 0.5s;
} */
.pages__content-right {
    width: 40%;
    animation: fadeIn 2s;
}
.pages__content-right .back__img{
    position: relative;
    width: 500px;

}
.pages__content-right .front__img{

}

.pages__content-right .front__img{
    position: absolute;
    top: 20px;
    right: -30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: shake;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/* pages end */

/* services start */
#services{

}
.services__best{
    text-align: center;
    padding: 120px 0;
    background-image: url(../img/bg2.png);
}
.services__best-heading{
    margin-bottom: 40px;
}
.services__best-content{
    display: flex;
}
.best__item-wrap{
    background: #fff;
    text-align: center;
    padding: 30px;
    border-radius: 0.5rem;
}
.best__item:hover{
    transform: translateY(-15px);
}
.best__item{
    transition: 1s;
    margin-right: 30px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.best__item img{
    width: 60%;
}
.best__item-wrap h4{
    font-size: 25px;
    padding: 16px 0;
}
/* services__about */
.services__about{
    padding: 40px 0 120px 0;
    background-image: url(../img/bg15.png);
}

.about__container{
    display: flex;
}
.about__container-left {
    width: 50%;
    padding-top: 54px;
    margin-right: 20px;
}
.about__container-left img{
    border-radius: 0 100px 100px 0;
    width: 100%;
    object-fit: cover;
}

.about__container-right{
    padding: 0 100px 0 40px;
    width: 50%;
}
.about__container-right h2{
    font-size: 60px;
}
.about__container-right span{
    font-size: 15px;
}
.about__container-right ul{
    list-style: none;
    margin: 20px 0;
}
.about__container-right li{
    padding-bottom: 12px;
    line-height: 1.8;
    font-size: 14px;
}
.about__container-right li i{
    margin-right: 8px;
    vertical-align: text-top;
    color: #f5608d;
    font-size: 22px;
    font-weight: 1;
    border-radius: 50%;
}

/* .about__container-right button{
    text-transform: uppercase;
    background-position: left center;
    transition: 0.5s;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
    padding: 20px 34px;
    border-radius: 40px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}
.about__container-right button:hover{
    cursor: pointer;
    background-position: right center;
    transition: 0.5s;
} */

/* services counting */
.services__count{
    padding: 40px 0;
    background-image: url(../img/bg14.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fffbf7 !important;
}

.services__count-wrapped{
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
}

.count__item{
    text-align: center;
    width: 25%;
}
.count__item-icon {
    margin: 0 auto;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.count__item-icon i{
    font-size: 46px;
    font-weight: 1;
    line-height: 1.8;
    color: #fff;
}

.count__item-value{
    font-size: 46px;
    color: #f55f8d;
}


/* services end */

/* start post */
#post{
    background-image: url(../img/bg16.png);
    background-size: cover;
}
.features__content{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding: 100px 0;
}
.features__left .h__header{
    font-size: 60px;
}
.features__item{

    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
    background: #fefefe;
    width: 80%;
    display: flex;
    align-items: center;
    color: #000;
    margin: 28px 0;
    padding-right: 20px;
}
.features__item:hover{
    background: linear-gradient(to left,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    color: #fff;
    background-size: 200%;
    transition: linear;
    transition-duration: .2s;
}
.features__item i{
    height: 100%;
    font-size: 70px;
    padding: 40px;
    color: #f55f8d;
}
.features__item:hover i{
    color: #fff;
    transition-duration: .2s;
}
.features__item-doc{
    height: 100%;
}
.features__item-doc h4{
    font-size: 1.5625rem;
    font-weight: 800;
}
 .features__item-2{
     margin-left: 60px;
 }

.features__right{
    width: 60%;
    padding-right: 60px;

}
.features__right img{
    width: 130%;
    animation-name: shake;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
/* end post */

/* start portfolio */
 .portfolio__header{
    text-align: center;
}
.portfolio__header h2{
    font-size: 60px;
}

.portfolio__item-top{
    display: flex;
    width: 100%;
    padding-bottom: 30px;
}

.pic1{
    width: 58%;
    margin-right: 30px;
}
.pic2{
    width: 40%;
}
.pic1 img,
.pic2 img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.portfolio__itemwrap-345{
    width: 60%;
}
.portfolio__itemwrap-34{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}
.pic3{
    margin-right: 30px;
}
.pic3 img,
.pic5 img,
.pic6 img,
.pic4 img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.portfolio__item-bottom{
    display: flex;
}
.pic5{
    margin-right: 30px;
    margin-top: 18px;
}
.portfolio__itemwrap-6{
    width: 40%;
    height: 100%;
}
.pic4,
.pic5,
.pic6,
.pic3,
.pic2,
.pic1{
    position: relative;
    overflow: hidden;
}

.pic1-overlay:hover{
    opacity: 1;
}
.pic1-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    opacity: 0;
    transition: ease-in-out 1s;
}
.pic1-overlay-icon{
    background: linear-gradient(to left,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30px;
    right: 30px;
    transition: 0.5s;
}


.pic1-overlay-icon:hover{
    cursor: pointer;
    background-position: right center;
    transition: 0.5s;
}
.pic1-overlay:hover .pic1-overlay-icon{
    animation-name: topright;
    animation-duration: 1.2s;
}
.pic1-overlay-icon i{
    font-size: 40px;
    color: #fefefe;
    font-weight: 1;
}

.pic1-overlay-tittle{
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.pic1-overlay-tittle h4{
    color: #fefefe;
    font-size: 22px;
}
.pic1-overlay-tittle p{
    color: #fefefe;
    opacity: 0.6;
}
.pic1-overlay:hover .pic1-overlay-tittle{
    animation-name: fadeInUp;
    animation-duration: 2s;
}
.hei98{
    height: 98% !important;
}





/* end portfolio */

/* portfolio__grid */
/* .portfolio__item-top{
    display: grid;
    grid-template-columns: repeat(1fr);
} */
/* ------------------------- */
/* plan start */
#plan{
    background-image: url(../img/bg16.png);
    background-size: cover;
}
.plan__container{
}
.plan__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 40px;
}
.plan__header h2{
    font-size: 60px;
}
.plan__header-box{
    background: linear-gradient(to left,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    width: 200px;
    height: 44px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}
.plan__monthly{
    background-color: #fefefe;
    border-radius: 6px;
    color: #000 !important;
}
.plan__monthly span{

}
.plan__monthly,
.plan__yearly{
    font-size: 12px;
    margin: 5px;
    width: 100%;
    text-align: center;
    color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.plan__list{
    display: flex;
}
.plan__item{
    padding: 12px;
}
.plan__item-content{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: #fefefe;
}
.plan__item-content:hover{
    transition-duration: .3s;
    transition-delay: .2s;
    border:  3px dashed #f69f60;
}
.plan__item-content .item-content__header{
    text-align: center;
    padding: 40px;
}
.plan__item-content .item-content__header h3{
    font-size: 32px;
    font-weight: 600;
}
.plan__item-content .item-content__header span:first-of-type{
    margin-top: 10px;
    font-size: 50px;
    font-weight: 800;
    color: #f8ae56;
}
.plan__item-content .item-content__header span:last-of-type{
    font-size: 18px;
    font-weight: 600;
}
.plan__item-content .item-content__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan__item-content .item-content__header img{
    width: 50%;
    display: block;
    margin-bottom: 20px;
}
.plan__item-content .item-content__list{
    padding: 0px 80px;
}
.plan__item-content .item-content__list ul{
    list-style: none;
    padding: 12px 0;
}
.plan__item-content .item-content__list li{
    padding: 8px 0;
}
.plan__item-content .item-content__list ul i{
    margin-right: 8px;
    vertical-align: text-top;
    background-color: #feeff3;
    color: #f5608d;
    font-size: 22px;
    font-weight: 1;
    border-radius: 50%;
}
.plan__item-content .item-content__btn{
    margin: 20px auto;
}

/* plan end */


/* testimonial start */
#testimonial{
    padding-top: 100px;
    background-image: url(../img/bg17.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.testimonial__header{
    text-align: center;
}

.testimonial-content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
    padding: 100px 0;
  }

  .testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
  }

  .testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
  }
  .testimonial-comment {
    min-height: 300px;
    width: 100%;
  }
  .testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
  }
  .testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
  }
  .testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
  }
  .testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
  }
/* testomonial end */


/* blog start */
#blog-wrap{
    background-image: url(../img/bg16.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.color__pink{
    color: #f55f8d;
}
.blog__header{
    text-align: center;
}

.blog__item{
}

.item__container{
    margin: 14px;
    border-radius: 12px;
    background: rgb(254 239 243);
}

.item__img{
    position: relative;
}
.item__img img{
    height: 100%;
    width: 100%;
    border-radius: 12px;
    /* object-fit: contain; */
}

.item__img-calendar{
    background: linear-gradient(to left,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    display: inline-block;
    border-radius: 6px;
    position: absolute;
    bottom: -17px;
    left: 17px;
}
.item__img-calendar p{
    padding: 6px 20px;
    color: #fff;
    font-size: 14px;
}

.item__content{
    margin: 20px 0;
    padding: 0 14px;
}
.item__content h3{
    font-size: 25px;
    font-weight: 600;
}
.item__content hr{
    margin-top: 20px;
}
.item__content-footer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 10px;
    font-size: 14px;
}

.blog__logo{
    padding: 100px 0 200px 0;
    display: flex;
    justify-content: space-evenly;
}
.blog__logo-item{
    position: relative;
    width: 160px;
    height: 100px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog__logo-item:hover  {
    background: linear-gradient(to left,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.blog__logo-item img{
    position: absolute;
    -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}
.blog__logo-item:hover .logo-pink{
    opacity: 0;
}
/* blog end */

/* subcribe start */
.Subcribe{
    padding: 40px 200px;
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-name: fadeInUp;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    top: -25%;
    /* margin: 0 auto; */
    /* max-width: 1200px; */
    /* transform: translate(50%,-50%); */
    /* transition-duration: 2s; */
}
.subcribe__content{
    height: 160px;
    background-color: #fcebe8;
    background-image: url(../img/pattern3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -50px;
    padding: 0 0 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
}
.subcribe__left h3{
    font-size: 28px;
}
.subcribe__right{
    width: 50%;
    position: relative;
}
.subcribe__right input{
    width: 70%;
    /* font-size: 30px; */
    z-index: 1;
    line-height:4.4;
    padding: 0 20px;
    border-radius: 6px 0 0 6px;
    border: 1px solid #fff;
    /* border-color: #fefefe; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.subcribe__right:hover .subcribe__input{
    border-color: #f55f8d;
}
.subcribe__right button{
    border-radius: 0 6px 6px 0;
    line-height: 1.3;
    position: absolute;
}
.subcribe__right button:hover i{
    animation-name: leftToright;
    animation-duration: .3s;
}
/* subcribe end */

/* footer start */
#footer{
    background-image: url(../img/bg17.png);
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    background-color: #0e1b1f;
    position: relative;
}
.footer__content{
    display: flex;
    padding: 160px 0 60px 0;
}
.footer__content .footer__item{
    /* background-color: #f5608d; */
    width: 25%;
}
.footer__content .footer__item .footer__item-img{
    /* text-align: center; */
    margin-bottom: 30px;
}
.footer__content .list__item{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 12px;
    padding-right: 20px;
    font-size: 15px;
    color: #ccc;
}
.footer__content .list__item .list__item-icon{
    background: linear-gradient(to left,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 50%;
    margin-right: 12px;
    transition: .5s;
}
.footer__content .list__item .list__item-icon i{
    padding: 20px;
    color: #fff;
}
.footer__content .list__item .list__item-icon:hover{
    background-position: right center;
}

.footer__item .footer__item-header{
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
}
.footer__item .footer__item-nav li{
    padding: 8px 0;
    color: #ccc;
    font-size: 15px;
}
.footer__item .footer__item-nav li:hover{
    cursor: pointer;
    color: #fefefe;
    transition: .7s;
}
.footer__item .footer__item-nav li i{
    padding-right: 8px;
}

.footer__bottom{
    background-color: #1f343b;
}
.footer__bottom .footer__bottom-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    color: #ccc;
}
.footer__bottom .footer__bottom-content .bottom__left{
}
.footer__bottom .footer__bottom-content .bottom__right{
    display: flex;
}
.footer__bottom .footer__bottom-content .bottom__right-icon{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #36494f;
    margin-left: 10px;
    text-align: center;
}
.footer__bottom .footer__bottom-content .bottom__right-icon:hover{
    background: linear-gradient(to left,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    background-position: right center;
    transition: .5s;

}
.footer__bottom .footer__bottom-content .bottom__right-icon i{
    color: #fff;
    line-height: 2.2;
}
#top__footer{
    width: 100%;
    position: absolute;
    top: -50px;
}
/* footer end */

/* backtotop */
.text-replace{
    overflow:hidden;color:transparent;text-indent:100%;white-space:nowrap}.text-center{text-align:center}.text-left{text-align:left}.text-right{text-align:right}@media (min-width: 32rem){.text-center\@xs{text-align:center}.text-left\@xs{text-align:left}.text-right\@xs{text-align:right}}@media (min-width: 48rem){.text-center\@sm{text-align:center}.text-left\@sm{text-align:left}.text-right\@sm{text-align:right}}@media (min-width: 64rem){.text-center\@md{text-align:center}.text-left\@md{text-align:left}.text-right\@md{text-align:right}}@media (min-width: 80rem){.text-center\@lg{text-align:center}.text-left\@lg{text-align:left}.text-right\@lg{text-align:right}}@media (min-width: 90rem){.text-center\@xl{text-align:center}.text-left\@xl{text-align:left}.text-right\@xl{text-align:right}}.color-inherit{color:inherit}.color-contrast-medium{color:hsl(240, 1%, 48%);color:var(--color-contrast-medium, #79797c)}.color-contrast-high{color:hsl(240, 4%, 20%);color:var(--color-contrast-high, #313135)}.color-contrast-higher{color:hsl(240, 8%, 12%);color:var(--color-contrast-higher, #1c1c21)}.color-primary{color:hsl(220, 90%, 56%);color:var(--color-primary, #2a6df4)}.color-accent{color:hsl(355, 90%, 61%);color:var(--color-accent, #f54251)}.color-success{color:hsl(94, 48%, 56%);color:var(--color-success, #88c559)}.color-warning{color:hsl(46, 100%, 61%);color:var(--color-warning, #ffd138)}.color-error{color:hsl(355, 90%, 61%);color:var(--color-error, #f54251)}.width-100\%{width:100%}.height-100\%{height:100%}.media-wrapper{position:relative;height:0;padding-bottom:56.25%}.media-wrapper iframe,.media-wrapper video,.media-wrapper img{position:absolute;top:0;left:0;width:100%;height:100%}.media-wrapper video,.media-wrapper img{-o-object-fit:cover;object-fit:cover}.media-wrapper--4\:3{padding-bottom:75%}:root,[data-theme="default"]{--color-primary-darker:hsl(220, 90%, 36%);--color-primary-darker-h:220;--color-primary-darker-s:90%;--color-primary-darker-l:36%;--color-primary-dark:hsl(220, 90%, 46%);--color-primary-dark-h:220;--color-primary-dark-s:90%;--color-primary-dark-l:46%;--color-primary:hsl(220, 90%, 56%);--color-primary-h:220;--color-primary-s:90%;--color-primary-l:56%;--color-primary-light:hsl(220, 90%, 66%);--color-primary-light-h:220;--color-primary-light-s:90%;--color-primary-light-l:66%;--color-primary-lighter:hsl(220, 90%, 76%);--color-primary-lighter-h:220;--color-primary-lighter-s:90%;--color-primary-lighter-l:76%;--color-accent-darker:hsl(355, 90%, 41%);--color-accent-darker-h:355;--color-accent-darker-s:90%;--color-accent-darker-l:41%;--color-accent-dark:hsl(355, 90%, 51%);--color-accent-dark-h:355;--color-accent-dark-s:90%;--color-accent-dark-l:51%;--color-accent:hsl(355, 90%, 61%);--color-accent-h:355;--color-accent-s:90%;--color-accent-l:61%;--color-accent-light:hsl(355, 90%, 71%);--color-accent-light-h:355;--color-accent-light-s:90%;--color-accent-light-l:71%;--color-accent-lighter:hsl(355, 90%, 81%);--color-accent-lighter-h:355;--color-accent-lighter-s:90%;--color-accent-lighter-l:81%;--color-black:hsl(240, 8%, 12%);--color-black-h:240;--color-black-s:8%;--color-black-l:12%;--color-white:hsl(0, 0%, 100%);--color-white-h:0;--color-white-s:0%;--color-white-l:100%;--color-success-darker:hsl(94, 48%, 36%);--color-success-darker-h:94;--color-success-darker-s:48%;--color-success-darker-l:36%;--color-success-dark:hsl(94, 48%, 46%);--color-success-dark-h:94;--color-success-dark-s:48%;--color-success-dark-l:46%;--color-success:hsl(94, 48%, 56%);--color-success-h:94;--color-success-s:48%;--color-success-l:56%;--color-success-light:hsl(94, 48%, 66%);--color-success-light-h:94;--color-success-light-s:48%;--color-success-light-l:66%;--color-success-lighter:hsl(94, 48%, 76%);--color-success-lighter-h:94;--color-success-lighter-s:48%;--color-success-lighter-l:76%;--color-error-darker:hsl(355, 90%, 41%);--color-error-darker-h:355;--color-error-darker-s:90%;--color-error-darker-l:41%;--color-error-dark:hsl(355, 90%, 51%);--color-error-dark-h:355;--color-error-dark-s:90%;--color-error-dark-l:51%;--color-error:hsl(355, 90%, 61%);--color-error-h:355;--color-error-s:90%;--color-error-l:61%;--color-error-light:hsl(355, 90%, 71%);--color-error-light-h:355;--color-error-light-s:90%;--color-error-light-l:71%;--color-error-lighter:hsl(355, 90%, 81%);--color-error-lighter-h:355;--color-error-lighter-s:90%;--color-error-lighter-l:81%;--color-warning-darker:hsl(46, 100%, 41%);--color-warning-darker-h:46;--color-warning-darker-s:100%;--color-warning-darker-l:41%;--color-warning-dark:hsl(46, 100%, 51%);--color-warning-dark-h:46;--color-warning-dark-s:100%;--color-warning-dark-l:51%;--color-warning:hsl(46, 100%, 61%);--color-warning-h:46;--color-warning-s:100%;--color-warning-l:61%;--color-warning-light:hsl(46, 100%, 71%);--color-warning-light-h:46;--color-warning-light-s:100%;--color-warning-light-l:71%;--color-warning-lighter:hsl(46, 100%, 81%);--color-warning-lighter-h:46;--color-warning-lighter-s:100%;--color-warning-lighter-l:81%;--color-bg:hsl(0, 0%, 100%);--color-bg-h:0;--color-bg-s:0%;--color-bg-l:100%;--color-contrast-lower:hsl(0, 0%, 95%);--color-contrast-lower-h:0;--color-contrast-lower-s:0%;--color-contrast-lower-l:95%;--color-contrast-low:hsl(240, 1%, 83%);--color-contrast-low-h:240;--color-contrast-low-s:1%;--color-contrast-low-l:83%;--color-contrast-medium:hsl(240, 1%, 48%);--color-contrast-medium-h:240;--color-contrast-medium-s:1%;--color-contrast-medium-l:48%;--color-contrast-high:hsl(240, 4%, 20%);--color-contrast-high-h:240;--color-contrast-high-s:4%;--color-contrast-high-l:20%;--color-contrast-higher:hsl(240, 8%, 12%);--color-contrast-higher-h:240;--color-contrast-higher-s:8%;--color-contrast-higher-l:12%}@supports (--css: variables){@media (min-width: 64rem){:root{--space-unit:  1.25em}}}:root{--radius: 0.25em}:root{--font-primary: sans-serif;--text-base-size: 1em;--text-scale-ratio: 1.2;--text-xs: calc(1em/var(--text-scale-ratio)/var(--text-scale-ratio));--text-sm: calc(var(--text-xs)*var(--text-scale-ratio));--text-md: calc(var(--text-sm)*var(--text-scale-ratio)*var(--text-scale-ratio));--text-lg: calc(var(--text-md)*var(--text-scale-ratio));--text-xl: calc(var(--text-lg)*var(--text-scale-ratio));--text-xxl: calc(var(--text-xl)*var(--text-scale-ratio));--text-xxxl: calc(var(--text-xxl)*var(--text-scale-ratio));--body-line-height: 1.4;--heading-line-height: 1.2;--font-primary-capital-letter: 1}@supports (--css: variables){@media (min-width: 64rem){:root{--text-base-size: 1.25em;--text-scale-ratio: 1.25}}}mark{background-color:hsla(355, 90%, 61%, 0.2);background-color:hsla(var(--color-accent-h), var(--color-accent-s), var(--color-accent-l), 0.2);color:inherit}.text-component{--line-height-multiplier: 1;--text-vspace-multiplier: 1}.text-component blockquote{padding-left:1em;border-left:4px solid hsl(240, 1%, 83%);border-left:4px solid var(--color-contrast-low)}.text-component hr{background:hsl(240, 1%, 83%);background:var(--color-contrast-low);height:1px}.text-component figcaption{font-size:0.83333em;font-size:var(--text-sm);color:hsl(240, 1%, 48%);color:var(--color-contrast-medium)}.article.text-component{--line-height-multiplier: 1.13;--text-vspace-multiplier: 1.2}:root{--btn-font-size: 1em;--btn-font-size-sm: calc(var(--btn-font-size) - 0.2em);--btn-font-size-md: calc(var(--btn-font-size) + 0.2em);--btn-font-size-lg: calc(var(--btn-font-size) + 0.4em);--btn-radius: 0.25em;--btn-padding-x: var(--space-sm);--btn-padding-y: var(--space-xs)}.btn{--color-shadow: hsla(240, 8%, 12%, 0.15);--color-shadow: hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0.15);box-shadow:0 4px 16px hsla(240, 8%, 12%, 0.15);box-shadow:0 4px 16px hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0.15);cursor:pointer}.btn--primary{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.btn--accent{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.btn--disabled{opacity:0.6}:root{--form-control-padding-x: var(--space-sm);--form-control-padding-y: var(--space-xs);--form-control-radius: 0.25em}.form-control{border:2px solid hsl(240, 1%, 83%);border:2px solid var(--color-contrast-low)}.form-control:focus{outline:none;border-color:hsl(220, 90%, 56%);border-color:var(--color-primary);--color-shadow: hsla(220, 90%, 56%, 0.2);--color-shadow: hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0.2);box-shadow:undefined;box-shadow:0 0 0 3px var(--color-shadow)}.form-control:focus:focus{box-shadow:0 0 0 3px hsla(220, 90%, 56%, 0.2);box-shadow:0 0 0 3px var(--color-shadow)}.form-control[aria-invalid="true"]{border-color:hsl(355, 90%, 61%);border-color:var(--color-error)}.form-control[aria-invalid="true"]:focus{--color-shadow: hsla(355, 90%, 61%, 0.2);--color-shadow: hsla(var(--color-error-h), var(--color-error-s), var(--color-error-l), 0.2);box-shadow:undefined;box-shadow:0 0 0 3px var(--color-shadow)}.form-control[aria-invalid="true"]:focus:focus{box-shadow:0 0 0 3px hsla(355, 90%, 61%, 0.2);box-shadow:0 0 0 3px var(--color-shadow)}.form-label{font-size:0.83333em;font-size:var(--text-sm)}:root{--cd-color-1:hsl(53, 29%, 95%);--cd-color-1-h:53;--cd-color-1-s:29%;--cd-color-1-l:95%;--cd-color-3:hsl(5, 76%, 62%);--cd-color-3-h:5;--cd-color-3-s:76%;--cd-color-3-l:62%;--cd-back-to-top-size: 40px;--cd-back-to-top-margin: 20px;--font-primary: 'Bitter', sans-serif;--font-secondary: 'Open Sans', sans-serif}@supports (--css: variables){@media (min-width: 64rem){:root{--cd-back-to-top-size: 60px;--cd-back-to-top-margin: 30px}}
}
.cd-top{
    position:fixed;
    bottom:20px;
    bottom:var(--cd-back-to-top-margin);right:20px;right:var(--cd-back-to-top-margin);display:inline-block;height:40px;height:var(--cd-back-to-top-size);width:40px;width:var(--cd-back-to-top-size);box-shadow:0 0 10px rgba(0,0,0,0.05);background:url(../back-to-top-master/assets/img/cd-top-arrow.svg) no-repeat center 50%;background-color:hsla(5, 76%, 62%, 0.8);background-color:hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)}.js .cd-top{visibility:hidden;opacity:0;transition:opacity .3s, visibility .3s, background-color .3s}.js .cd-top--is-visible{visibility:visible;opacity:1}.js .cd-top--fade-out{opacity:.5}.js .cd-top:hover{background-color:hsl(5, 76%, 62%);background-color:var(--cd-color-3);opacity:1}body{background-color:hsl(330, 13%, 42%);background-color:var(--cd-color-2);-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.cd-main-header{height:180px;background-color:hsl(330, 13%, 31.92%);background-color:hsl(var(--cd-color-2-h), var(--cd-color-2-s), calc(var(--cd-color-2-l)*0.76));color:hsl(53, 29%, 95%);color:var(--cd-color-1);font-family:'Open Sans', sans-serif;font-family:var(--font-secondary)}.cd-main-header h1{font-weight:bold;color:inherit;text-transform:uppercase}.cd-main-header p{color:hsl(330, 13%, 52.08%);color:hsl(var(--cd-color-2-h), var(--cd-color-2-s), calc(var(--cd-color-2-l)*1.24))}.cd-main-header a{color:hsl(53, 29%, 95%);color:var(--cd-color-1);font-family:'Bitter', sans-serif;font-family:var(--font-primary)}@media (min-width: 64rem){.cd-main-header{height:280px}}.cd-main-content p{color:hsl(53, 29%, 95%);color:var(--cd-color-1)
}


/* animation */
@keyframes leftToright{
    from{
        transform: translateX(-50px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes topright{
    from{
        transform: translate(30px,-30px);
    }
    to{
        transform: translateX(0px);
        transform: translateY(0px);
    }
}

@keyframes shake{
    0%{
        transform: rotate(-3deg);
    }
    25%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(2deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-3deg);
    }
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@keyframes fadeIn{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
@keyframes Totop {
    from{
        transform: translateY(50px);
    }
    to{
        transform: translateY(0);
    }
}
